
*, *::before, *::after {
  box-sizing: border-box;
}
.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%; /* Đảm bảo chiều cao 100% */
  width: 100%;  /* Đảm bảo chiều rộng 100% */
  align-items: center;
  justify-content: center;
  text-decoration: underline !important;
  border: none; /* Nếu có đường kẻ, bạn có thể thử thêm dòng này */
}
.example-sidenav {
   user-select: none;
   text-decoration: underline !important;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.mat-sidenav-container {
  width: 100%; /* Đảm bảo không gian tối đa */
  height: 100vh; /* Chiều cao tối đa */
  border: none; /* Bỏ border nếu có */
}
.example-sidenav {
   user-select: none;
   text-decoration: underline !important;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.link , .mat-list-item , .span, .mat-mdc-focus-indicator , .mdc-list-item__content{
  text-decoration: underline !important;
  color: black !important;
}
