<div class="task-container">
  <div class="task-header">
    <div class="header-title">
      <b class="task-title">User Management </b>
    </div>
    <button type="button" class="btn btn-success " (click)="OpenEditAddUser({}, 2)"><i
        class="fa-solid fa-plus"></i>Add</button>
  </div>
  <div class="table-search">
    <div class="col-3">
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="Email" (keyup)="LoadUser()">
    </div>

    <div class="col-2">
      <label>Role <b (click)="clearRole()" class="button-clear"><i class="fa-solid fa-delete-left"></i></b></label>
      <select class="form-control" [(ngModel)]="RoleId" (change)="LoadUser()">
        <option *ngFor="let role of roleList" [value]="role.roleId">
          {{role.roleName}}
        </option>
      </select>
    </div>

    <div class="col-3">
      <label>First Name</label>
      <input type="text" class="form-control" [(ngModel)]="FirstName" (keyup)="LoadUser()">
    </div>

    <div class="col-3">
      <label>Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="LastName" (keyup)="LoadUser()">
    </div>

    <div class="col-1" *ngIf="role > 2">
      <label>IsActive <b (click)="clearRole()" class="button-clear"><i class="fa-solid fa-delete-left"></i></b></label>
      <select class="form-control" [(ngModel)]="IsActive " (change)="LoadUser()">
        <option [value]="-1"></option>
        <option [value]="1">Active</option>
        <option [value]="0">Deleted</option>
      </select>
    </div>

  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="table table-hover table-mat">

      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>
          <div>Email</div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            First Name
          </div>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef>
          <div>Last Name</div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="RoleName">
        <th mat-header-cell *matHeaderCellDef>
          <div>Role </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef> IsActive </th>
        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
      </ng-container>


      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <span class="action-icon" (click)="OpenEditAddUser(element, 1)">
            <button class="btn btn-sm btn-warning">
              <i class="fas fa-edit"></i> Edit</button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element ">
          <span class="action-icon" (click)="DeleteUser(element.userId)">
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>Delete</button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


<!-- Modal -->
<div class="modal" id="ModalEdit">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="editOrAdd == 1">Update User</h4>
        <h4 class="modal-title" *ngIf="editOrAdd == 2">Add User</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CloseEditAddUser()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label>Email </label>
          <input class="form-control" type="text" [(ngModel)]="updateModel.Email" required (change)="validateMail()">
          <div *ngIf="errorMessage" class="error-note">{{errorMessage}}</div>
          <div *ngIf="!updateModel.Email" class="error-note">{{ error }}</div>
        </div>

        <div class="form-group">
          <label> Role</label>
          <select class="form-control" [(ngModel)]="updateModel.RoleId" required>
            <option *ngFor="let role of roleList" [value]="role.roleId">
              {{role.roleName}}
            </option>
          </select>
          <div *ngIf="!updateModel.RoleId" class="error-note">{{ error }}</div>
        </div>

        <div class="form-group">
          <label> First Name</label>
          <input type="text" class="form-control" [(ngModel)]="updateModel.FirstName" required>
          <div *ngIf="!updateModel.FirstName" class="error-note">{{ error }}</div>
        </div>

        <div class="form-group">
          <label> Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="updateModel.LastName" required>
          <div *ngIf="!updateModel.LastName" class="error-note">{{ error }}</div>
        </div>

        <div class="form-group" *ngIf="this.editOrAdd == 2">
          <label> Password</label>
          <input class="form-control" type="password" [(ngModel)]="updateModel.Password" required>
          <div *ngIf="!updateModel.Password" class="error-note">{{ error }}</div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-success" (click)="OnSave()">Save</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CloseEditAddUser()">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div>
  <div class="modal" id="ModalDelete">
    <div class="modal-dialog modal-dialog-top ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete User</h4>
          <button type="button" class="btn-close" (click)="onCancel()"></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa user này? </p>
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="onConfirm()">Xóa</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
