<mat-toolbar color="primary" *ngIf="isTokenValid()">
  <h1 >My Task App &nbsp; </h1>
  <i class="fa-solid fa-bars" (click)="isExpanded = !isExpanded" ></i>

</mat-toolbar>
<mat-sidenav-container  > <!--autosize-->
  <mat-sidenav #sidenav  mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"  *ngIf="isTokenValid()">
    <mat-nav-list>
      <mat-list-item>
        <a class="no-underline" [routerLink]="['/taskboard']" >
          <span mat-list-item *ngIf="isExpanded || isShowing">Task  &nbsp;</span>
          <i class="fa-solid fa-list-check"></i>
        </a>
      </mat-list-item>

      <mat-list-item *ngIf="role > 1">
        <a class="no-underline" [routerLink]="['/user']">
          <span mat-list-item *ngIf="isExpanded || isShowing">User  &nbsp;</span>
          <i class="fa-regular fa-user"></i>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="role > 2">
        <a class="no-underline" [routerLink]="['/status']">
          <span mat-list-item *ngIf="isExpanded || isShowing">Status  &nbsp;</span>
          <i class="fa-solid fa-bars-progress"></i>
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="role > 2">
        <a class="no-underline" [routerLink]="['/role']">
          <span mat-list-item *ngIf="isExpanded || isShowing">Role  &nbsp;</span>
          <i class="fa-solid fa-lock"></i>
        </a>
      </mat-list-item>
      <mat-list-item  (click)="Logout()">
        <a class="no-underline" [routerLink]="['/login']">
          <span mat-list-item *ngIf="isExpanded || isShowing">Logout  &nbsp;</span>
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div >
    <router-outlet />
  </div>

</mat-sidenav-container>


