<mat-toolbar *ngIf="isTokenValid()">
  <h1 >My Task App</h1>
  <span style="margin-right: 0px; margin-left: auto;">Xin chào {{nameEmail}}</span>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav  mode="side" opened="true"
     *ngIf="isTokenValid()">
    <mat-nav-list>
      <mat-list-item  [routerLink]="['/taskboard']">
        <div class="no-underline">
          <span mat-list-item >Task  &nbsp;</span>
          <i class="fa-solid fa-list-check"></i>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="role > 1"  [routerLink]="['/user']">
        <div class="no-underline">
          <span mat-list-item>User  &nbsp;</span>
          <i class="fa-regular fa-user"></i>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="role > 2" [routerLink]="['/status']">
        <div class="no-underline">
          <span mat-list-item>Status  &nbsp;</span>
          <i class="fa-solid fa-bars-progress"></i>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="role > 2"  [routerLink]="['/role']">
        <div class="no-underline">
          <span mat-list-item >Role  &nbsp;</span>
          <i class="fa-solid fa-lock"></i>
        </div>
      </mat-list-item>
      <mat-list-item  (click)="Logout()">
        <a class="no-underline" [routerLink]="['/login']">
          <span mat-list-item >Logout  &nbsp;</span>
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <app-toast></app-toast>
    <router-outlet ></router-outlet>
  </div>

</mat-sidenav-container>


