<div class="martab">
  <mat-toolbar color="primary">
    <span>Task Management </span>
    <button type="button" class="btn btn-success  btn-lg" style="margin-right:0px; margin-left: auto;">Add a new Task</button>
  </mat-toolbar>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="CreateDate">
        <th mat-header-cell *matHeaderCellDef> CreateDate </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.createDate, "dd/MM/yyyy")}} </td>
      </ng-container>

      <ng-container matColumnDef="FinishDate">
        <th mat-header-cell *matHeaderCellDef> FinishDate </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.finishDate, "dd/MM/yyyy")}}  </td>
      </ng-container>

      <ng-container matColumnDef="Estimate">
        <th mat-header-cell *matHeaderCellDef> Estimate </th>
        <td mat-cell *matCellDef="let element"> {{element.estimate}} </td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let row">
          <span class="action-icon" style="margin-right: 5px;">
            <mat-icon color="primary" (click)="OpenEditTask(element)">edit</mat-icon>
          </span>

        </td>

      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let row">
          <span class="action-icon">
            <mat-icon color="warn">delete</mat-icon>
          </span>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>


<div class="modal" id="ModalEdit">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Task</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <form >
          <label>Title </label>
          <input type="text">
          <label> Status</label>
          <input>
          <label> Create Date</label>
          <p-calendar [(ngModel)]="model.CreateDate"
          dateFormat="dd/mm/yy" [showIcon]="true" [appendTo]="'body'" [iconDisplay]="'input'"></p-calendar>
          <label> Finish Date</label>
          <input type="date">
          <label> Estimate</label>
          <input type="number">
        </form>

      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-success">Edit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CloveEditTask()">Close</button>
      </div>

    </div>
  </div>
</div>







