.martab{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}
table {
  width: 100%;
}
.modal-body div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-body label {
  flex: 1;
}

.modal-body input, .modal-body select, .modal-body {
  flex: 2;
  margin-left: 1rem;
}

