<div class="martab table-hover">
  <mat-toolbar color="primary">
    <span>Task Management </span>
    <button type="button" class="btn btn-success " (click)="OpenEditAddTask({}, 2)"
      style="margin-right:0px; margin-left: auto;">ADD(+)</button>
    <button type="button" class="btn btn-danger" (click)="Logout()"
      style="margin-right:0px; margin-left: 30px;">Logout</button>
  </mat-toolbar>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="table table-dark table-hover">

      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef class="table-primary"> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef class="table-primary">
          <div>Title</div>
          <input type="text" class="form-control" [(ngModel)]="TitleInput" (keyup)="loadAllTask()">
        </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-primary">
            Status
            <b class="clear-btn" (click)="clearStatus()">X</b>
          </div>
          <select class="form-control" [(ngModel)]="StatusInput" required (click)="loadAllTask()">
            <option *ngFor="let status of statusList" [value]="status.statusId">
              {{status.statusName}}
            </option>
          </select>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
      </ng-container>

      <ng-container matColumnDef="CreateDate">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-primary">CreateDate</div>
          <input type="date" class="form-control" [(ngModel)]="CreateDateInput" (change)="loadAllTask()">
        </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.createDate, "dd/MM/yyyy")}} </td>
      </ng-container>

      <ng-container matColumnDef="FinishDate">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-primary">FinishDate</div>
          <input type="date" class="form-control" [(ngModel)]="EndDateInput" (change)="loadAllTask()">
        </th>
        <td mat-cell *matCellDef="let element"> {{getFormatedDate(element.finishDate, "dd/MM/yyyy")}} </td>
      </ng-container>

      <ng-container matColumnDef="Estimate">
        <th mat-header-cell *matHeaderCellDef class="table-primary"> Estimate </th>
        <td mat-cell *matCellDef="let element"> {{element.estimate}} </td>
      </ng-container>

      <ng-container matColumnDef="Assignee">
        <th mat-header-cell *matHeaderCellDef class="table-primary"> Assignee </th>
        <td mat-cell *matCellDef="let element" >
          <div *ngFor="let assign of assigneeList[element.taskId]"  >
            {{assign.item_text }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef class="table-primary"> Edit </th>
        <td mat-cell *matCellDef="let element">
          <span class="action-icon" style="margin-right: 5px;" (click)="OpenEditAddTask(element, 1)">
            <button class="btn btn-sm btn-warning">
              <i class="fas fa-edit"></i> Edit</button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef class="table-primary"> Delete </th>
        <td mat-cell *matCellDef="let element ">
          <span class="action-icon" (click)="DeleteTask(element.taskId)"*ngIf="!(assigneeList[element.taskId] && assigneeList[element.taskId].length > 0 && role < 2)"  >
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>Delete</button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!-- Modal -->
<div class="modal" id="ModalEdit">
  <div class="modal-dialog modal-dialog-centered  ">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Task</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="CloveEditAddTask()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label>Title </label>
          <input class="form-control" type="text" [(ngModel)]="updateModel.Title" required>
        </div>

        <div class="form-group">
          <label> Status</label>
          <select class="form-control" [(ngModel)]="updateModel.StatusId" required>
            <option *ngFor="let status of statusList" [value]="status.statusId">
              {{status.statusName}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label> Create Date</label>
          <input type="date" class="form-control" [(ngModel)]="editCreateDate" required>
        </div>

        <div class="form-group">
          <label> Finish Date</label>
          <input type="date" class="form-control" [(ngModel)]="editEndDate" required>
        </div>

        <div class="form-group">
          <label> Estimate</label>
          <input class="form-control" type="number" [(ngModel)]="updateModel.Estimate" required>
        </div>

        <div class="form-group"*ngIf="role > 1">
          <label> Assignee</label>
          <ng-multiselect-dropdown [placeholder]="'Select Users'" [settings]="dropdownSettings" [data]="dropdownList"
            [(ngModel)]="CurrentAssigneeList" class="form-control dropdown-custom">
          </ng-multiselect-dropdown>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-success" (click)="OnSave()">Save</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="CloveEditAddTask()">Close</button>
      </div>

    </div>
  </div>
</div>
