
  <div class="outer" >
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-5 font-weight-bold">SignUp</h3>
            </div>
            <div class="panel-body p-3">
              <div class="form-group pt-2">
                <div class="input-field sign-up"> <span class="fa fa-lock px-2"></span>
                  <input type="text" (change)="validateMail()"
                  placeholder="Email" [(ngModel)]="inputEmail" (keyup.enter)="signup()" required>
                </div>
              </div>
              <div class="form-group pt-2 " >
                <div class="input-field sign-up" > <span class="fa fa-user px-2"></span>
                  <input type="text" placeholder="Username" [(ngModel)]="inputUName" required
                    (keyup.enter)="signup()">
                </div>
              </div>
              <div class="form-group pt-2">
                <div class="input-field sign-up"> <span class="fa fa-lock px-2"></span>
                  <input type="password" placeholder="Password" [(ngModel)]="inputPw" required
                    (keyup.enter)="signup()">
                </div>
              </div>
              <div class="form-group pt-2">
                <div class="input-field sign-up"> <span class="fa fa-lock px-2"></span>
                  <input type="password" placeholder="Confirm Password" [(ngModel)]="inputPwCheck" required
                    (keyup.enter)="signup()">
                </div>
              </div>

              <div class="form-inline fr mt-2">
                <a id="forgot" routerLink="/forgotpassword">Forgot password?</a>
              </div>
              <button (click)="signup()" class="btn btn-primary btn-block mt-4 w-100">Signup</button>
              <button class="text-center pt-2 text-muted" routerLink="/login"
              class="btn btn-primary btn-block mt-8 w-10" style="margin-left: 42%;">Login</button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>

