<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Status</th>
        <th>Create Date</th>
        <th>Finish Date</th>
        <th>Estimate</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td><span> {{task.no}}</span></td>
        <td><span>{{task.title}}</span></td>
        <td><span>{{task.statusName}}</span></td>
        <!-- <td><select [(ngModel)]="assigneeList[task.id]"></select></td> -->
        <td><span>{{ getFormatedDate(task.createDate , "dd/MM/yyyy") }}</span></td>
        <td><span>{{ getFormatedDate(task.finishDate , "dd/MM/yyyy") }}</span></td>
        <td><span>{{task.estimate}}</span></td>
        <td> <button class="btn btn-sm btn-warning">
            <i class="fas fa-edit"></i> Edit</button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                  [pageSize]="PageSize"
                  [length]="totalTasks"
                  [pageIndex]="PageNumber - 1"
                  showFirstLastButtons
                  (page)="onPageChange($event)">
  </mat-paginator>
</div>
